.site__aside {
  @media (min-width: 600px) {
    display: block;
  }

  display: none;
    
    
  a{
    color: black;
  }

  h3 {
    text-align: center;
    text-decoration: underline;
  }

  nav {
    ul {
      @media (min-width: $largeur__bureau) {
        flex-wrap: nowrap;
        flex-direction: column;
      }
      
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 5px 5px;
            
      li {
        list-style: none;
        margin: 5px 5px;
        border-bottom: 1px solid;
      }
    }
  }
  }