.blocflex {
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;

   
}

.blocflex__article {
    flex: 1 0 500px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 1px solid #aaa;
    padding: 0.5rem;
    background-color: #293132;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  
    h3, h5, h6, p {
        color: #db8a74;
        margin: 0;
        padding: 0;
    }
}

.blocflex__galerie {
    flex: 1 0 100%;
}

article:hover {
    transform: scale(105%);
}




