.site__footer {
    display: flex;
}

.site__footer section {
    background-color: #516769;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border : 1px solid #aaa;
    flex : 1 1 200px;
}
