.site__footer {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.menu-footer-container , .menu-footer2-container {
  .menu {
    list-style-type: none;

    .menu-item {

      a {

      }
    }
  }
}
